.dashboard {
  min-height: 100vh;
  height: 100%;

  @include mediumSize {
    @include borderPadding;
    margin-top: 2.5rem;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    max-height: 70px;
    padding: 1.5rem 0rem;
  }

  &__center {
    display: block;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.4);
    min-height: 700px;
    @include maxWidth;
    @include mediumSize {
      border-radius: 8px;
      overflow: hidden;
    }
  }

  &__body {
    padding: 1rem 0.5rem;
    @include deskopSize {
      padding: 3rem;
      display: grid;
      grid-template-columns: 2fr 3fr;
      margin-bottom: 1rem;
    }
  }
  &__info {
    &-title {
      & h1 {
        font-size: 2.5rem;
        margin-right: 0.75rem;
      }
    }
    &-list {
      width: 100%;
    }
    &-item {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.75rem 2rem 0.75rem 0.75rem;
      background-color: $color-white;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      @include deskopSize {
        padding: 0.75rem 2rem 0.75rem 2rem;
      }
      & span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        & svg {
          vertical-align: bottom;
          transform: rotateZ(250deg);
        }
      }
    }
  }
}
