.nav {
  width: 100%;
  background-color: rgba($color-white, 0.9);
  z-index: 999;
  &__center {
    @include maxWidth;
    @include borderPadding;
    height: 60px;
    display: flex;
    padding-top: 0.5rem;
  }
  &__left {
    &-link {
      @include linkStyle;
      font-size: 1.75rem;
    }
  }
}
